/* text 가운데 정렬 */
.center {text-align: center;}

/* text 왼쪽 정렬 */
.left {text-align : left;}

/* text 오른쪽 정렬 */
.right {text-align : right;}

/* a링크의 밑줄을 없앤다. */
a:link{text-decoration: none;}

/* a링크를 방문했을 때 나타나는 밑줄을 없앤다. */
a:visited{text-decoration: none;}

/* a링크에 마우스를 올릴 때 나타나는 밑줄을 없앤다. */
a:hover{text-decoration: none;}

/*
    모든 페이지에서 보여줄 상단의 배경부분을 꾸며주는 css
    display: table;은 내부에 있는 아이템들을
    셀로처리하여 컨트롤 한다.
*/
.jumbotron2 {
    width: 100%;
    height: 100px;
    background-color: #eee;
    margin-bottom: 60px;
    color: black;
    text-align: center;
    display: table;
}

/* 
    모든 페이지에서 보여줄 상단의 Board Example 글을 꾸며주는 css 
    display: table-cell은 상위 태그의 내부에서
    하나의 cell처럼 작동하겠다는 말.
*/
#setSpan {
    display: table-cell;
    vertical-align: middle;
    color: gray;
    font-size: 32px;
}

/* 
    사용자가 로그인 하면 ~~님 로그인 을 나타내주는 부분의 css
*/
.loginSpan {
    font-size: 20px;
}

/* 
    메인화면인 게시판 화면에서 로그인 버튼과 로그아웃 버튼
    회원정보 수정 버튼, 회원가입 버튼이 있는데
    그 버튼 사이의 간격과 아래 테이블 사이의 간격을 띄워주기 위해 사용
*/
#button {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

